@{
    Layout = null;
}

<div class="row">
    <div class="col-print-5">
        <h1 class="topheader">

            UBND TỈNH TIỀN GIANG<br />
            TRƯỜNG ĐẠI HỌC TIỀN GIANG
            <br />
            <span>
            </span>


        </h1>

    </div>
    <div class="col-print-7">
        <h1 class="topheader">

            CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br />
            Độc lập - Tự do - Hạnh phúc
            <br />
            <span>
            </span>


        </h1>
    </div>
</div>